@import 'src/styles/_variables.scss';

.block-task {
	display: grid !important;
	grid-template-columns: 1fr 8fr 1fr 1fr;
	justify-content: center;
	border: 1px solid #ffffff0e;
	border-radius: $radius;
	padding: 12px;

	> div {
		background-color: inherit;
		&:first-child {
			padding: 0;
			&:focus-within {
				border-color: rgba($primary, 0);
			}
		}

		&:nth-child(3) {
			width: 50px;
		}
	}

	> button {
		padding: 0;
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 400px) {
	.block-task {
		grid-template-columns: 1fr 8fr 1fr 1fr;
		grid-template-rows: auto auto;

		> div {
			&:nth-child(2) {
				grid-column-start: 2;
				grid-column-end: 5;
			}
			&:nth-child(3) {
				grid-column-start: 3;
				grid-column-end: 4;
			}
		}

		> button {
			grid-column-start: 4;
			grid-column-end: 5;
		}
	}
}
