@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.button {
	@include transition(color);
	cursor: pointer;
	color: $text-gray;
	border-radius: $radius;
	padding: 12px 30px;
	font-style: 18px;
	text-align: center;

	&:hover {
		background-color: lighten($gray, 3%);
	}

	&.green {
		background-color: rgba($secondary, 50%);
		color: $white;
		&:hover {
			background-color: rgba($secondary, 80%);
		}
	}

	&.gray {
		background-color: rgba($text-gray, 40%);
		&:hover {
			background-color: rgba($text-gray, 70%);
			color: $gray;
		}
	}
}
