@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.block-item {
	display: flex;
	flex-direction: column;
	border: 1px solid #ffffff0e;
	border-radius: $radius;
	padding: 15px 20px;
	gap: 15px;
	//width: 415px;

	> div {
		display: flex;
		align-items: center;
		gap: 15px;

		> button {
			background-color: inherit;
			width: 25px;
			height: 25px;
			padding: 0;
		}
	}
}
