@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.timerModal {
	display: flex;
	flex-direction: column;
	align-items: center;

	> div {
		&:last-child {
			margin-top: 20px;
			font-size: 14px;
			max-width: 560px;
		}
	}
}
