.create-tasks-list {
	background-color: #0f1112;
	border-radius: 0.7rem;
	border: 1px solid transparent;
	padding: 15px 20px;
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	gap: 10px;
}
